/* Main */

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b203d;
  width: 100%;
}

main h1 {
  color: #1b203d;
  font-size: 2rem;
  margin: 5px 0;
}

h2,
h3,
p {
  margin: 5px;
}

.checkout-wrapper {
  background: #df85ff;
  width: 50%;
  min-height: 40em;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  display: flex;
  flex-direction: column;
}

hr {
  border: 1px solid #1b203d;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#forgelegend {
  width: 10%;
  min-width: 5em;
}

.gametitle {
  width: 60%;
  align-self: flex-start;
}

.VATinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #1b203d99;
  color: #fff;
  width: 8rem;
  min-width: 7rem;
  height: 5rem;
  padding: 2px;
  border-radius: 5px;
}

.VATprices {
  width: 5rem;
  width: 5rem;
  font-weight: lighter;
}

.right {
  text-align: end;
  width: 2rem;
}

.bold {
  font-weight: bold;
}

.cross {
  width: 30px;
  height: 30px;
}

.cross:hover {
  border-radius: 50%;
  outline: 2px solid #bbc5cf;
  outline-offset: -6px;
  cursor: pointer;
}

.cart-item a {
  width: 30px;
  height: 30px;
}

.links {
  color: #482c69;
}

.links:hover {
  color: #fff;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  display: flex;
  justify-content: space-between;
}

.button-cta {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  background: #1b203d;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 5rem;
  box-shadow: #0000007c 2px 2px 5px, inset #ffffff7c 2px 2px 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-cta:hover {
  background: #482c69;
}

#cart1 {
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  right: 1.25em;
  top: 3.8em;
  background: #bbc5cf;
  color: #1b203d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1600px) {
  main {
    margin-top: 80px;
  }

  #cart1 {
    top: 3em;
    right: 1.1em;
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 800px) {
  main {
    margin-bottom: 150px;
  }

  .checkout-wrapper {
    width: 80%;
  }
}
