/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b203d;
  margin-bottom: 150px;
  width: 100%;
}

main h1 {
  color: #1b203d;
  font-size: 2rem;
  margin: 5px 0;
}

h2,
h3,
p {
  margin: 5px;
}

.order-success {
  background: #df85ff;
  width: 50%;
  min-height: 30em;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-success div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  text-align: center;
  margin-bottom: 1.5em;
  height: 16em;
}

main p {
  font-size: 1.5rem;
}

main h1 {
  font-size: 2.5rem;
}

main a {
  color: #482c69;
  font-size: 1.2rem;
}

main a:hover {
  color: #fff;
  text-shadow: #482c69 2px 2px 4px;
}

@media (max-width: 1600px) {
  main {
    margin-top: 80px;
  }

  footer ul li,
  footer ul li a {
    min-width: 60px;
    font-size: 0.7rem;
    padding: 0 5px;
  }
}

@media (max-width: 800px) {
  main {
    margin-bottom: 150px;
  }

  .order-success {
    width: 80%;
    min-height: 20em;
  }

  .order-success div {
    height: 11em;
  }

  main h1 {
    font-size: 2rem;
  }
}
