/* Main */

.main-wrapper {
  position: relative;
  top: 50px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 785px 785px;
  grid-template-rows: 220px 200px 261px;
  justify-content: center;
  gap: 2% 1%;
  grid-template-areas:
    "join_today preorder"
    "join_today sell"
    "new used";
}

.seemore {
  letter-spacing: 2.4px;
  color: #482c69;
  float: right;
  margin-right: 15px;
  font-size: 1.3rem;
}

.seemore:hover {
  color: #fff;
  text-shadow: #482c69 2px 2px 4px;
}

main h1 {
  color: #fff;
}

main h2 {
  text-align: left;
  padding: 0;
  margin: 6px 16px;
}

.header-link {
  text-decoration: none;
  color: #1b203d;
}

.header-link:hover {
  text-shadow: #fff 2px 2px 4px;
}

main p {
  text-align: left;
}

main section {
  background-color: #df85ff;
  margin: 0;
}

.join_today {
  background-color: transparent;
  grid-area: join_today;
  max-width: 785px;
  max-height: 419px;
  position: relative;
}

.join_today a {
  margin-right: 0;
}

.join_today img {
  width: 785px;
  height: 419px;
  margin: 0;
}

.join_today h1 {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  text-shadow: #00000080 0 3px 6px;
  left: 1.2em;
  top: 1em;
}

.front_games {
  max-width: 108px;
  max-height: 139px;
}

.front_preorder {
  height: 220px;
  width: 785px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 0;
  grid-area: preorder;
}

.front_preorder img,
.front_preorder p {
  max-width: 100px;
  margin: 5px;
}

.game-container {
  position: relative;
}

.preorder-tag {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  bottom: 3px;
  right: -12px;
  border-radius: 50%;
  background: #482c69;
  color: #fff;
  overflow: hidden;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

.preorder-container {
  display: flex;
  justify-content: left;
  margin-left: 1.5em;
}

.preorder-container p {
  margin-right: 5%;
  min-width: 5rem;
}

.front_sell {
  height: 153px;
  width: 785px;
  border-radius: 15px;
  margin-bottom: 17px;
  grid-area: sell;
  align-self: end;
}

.front_sell p {
  letter-spacing: 0.5px;
  margin-left: 16px;
  max-width: 572px;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.front_sell img {
  float: right;
  max-height: 99px;
  margin: 15px 15px 0 0;
}

.front_new {
  height: 215px;
  width: 785px;
  border-radius: 15px;
  grid-area: new;
}

.front_new div,
.front_used div {
  display: flex;
  justify-content: space-evenly;
}

.front_new img,
.front_new p,
.front_used img,
.front_used p {
  max-width: 100px;
  margin: 5px;
}

.front_used {
  height: 215px;
  width: 785px;
  border-radius: 15px;
  grid-area: used;
}

.pricetag {
  position: absolute;
  bottom: -2px;
  right: -8px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #482c69;
  color: #fff;
  overflow: hidden;
  place-items: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.front_used .pricetag {
  background: #1b203d;
  color: #5fff50;
}

.front_small {
  max-height: 121px;
  margin-left: 29px;
}

/* MEDIA */

@media (max-width: 1600px) {
  .main-wrapper {
    margin-bottom: 200px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2%;
    grid-template-areas:
      "join_today"
      "new"
      "used"
      "preorder"
      "sell";
  }
}

@media (max-width: 800px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 150px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  section {
    max-width: 90%;
  }

  .join_today {
    max-width: 100%;
    height: auto;
  }
  .join_today h1 {
    font-size: 5.5vw;
    left: 0.2em;
    top: 0.3em;
  }

  .join_today img {
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .front_new div,
  .front_used div {
    justify-content: space-evenly;
    margin-left: 0;
  }

  .front_preorder p {
    display: none;
  }

  .front_preorder div {
    justify-content: space-evenly;
    margin-left: 0;
  }

  .preorder-tag {
    height: 42px;
    width: 42px;
    font-size: 1.1rem;
    bottom: -2px;
    right: -8px;
  }

  .front_sell {
    align-self: auto;
    margin-bottom: auto;
  }

  .front_sell a {
    clear: right;
  }

  .front_used .media_none,
  .front_new .media_none,
  .front_sell .media_none {
    display: none;
  }
}
