/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b203d;
  margin-bottom: 150px;
  width: 100%;
}

main h1 {
  color: #1b203d;
  font-size: 2rem;
  margin: 5px 0;
}

main a {
  color: #482c69;
}

main a:hover {
  color: #fff;
  text-shadow: #482c69 2px 2px 4px;
}

.login {
  background: #df85ff;
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
}

.login form {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login form div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
}

main input {
  color: #fff;
  font-size: 1.2rem;
  background: #1b203d99;
  border: none;
  border-radius: 5px;
  height: 45px;
}

#login-btn {
  color: #fff;
  font-size: 1rem;
  background: #1b203d;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: #0000007c 2px 2px 5px, inset #ffffff7c 2px 2px 5px;
  cursor: pointer;
  font-family: "Bahnschrift", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-btn:hover {
  background: #482c69;
}

@media (max-width: 1600px) {
  main {
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  main {
    margin-bottom: 150px;
  }

  .login {
    width: 80%;
    height: 400px;
  }
}
