/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

main a {
  color: #bbc5cf;
}

main a:hover {
  color: #fff;
}

.breadcrumb {
  margin: 0 auto 0 15rem;
  font-size: 1.5rem;
}

.newgames {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.labels-group {
  margin-top: 2em;
  display: flex;
  gap: 30px;
}

.label {
  max-height: 50px;
  background: #1b203d;
  padding: 0 30px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

.label:hover {
  color: #df85ff;
}

.active-label {
  color: #1b203d;
  background: #df85ff;
}

.active-label:hover {
  color: #1b203d;
}

.allgames {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  background: #df85ff;
  padding: 10px;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 20px;
  justify-content: center;
}

.game-container {
  position: relative;
}

.game-container img {
  max-width: 140px;
}

.pricetag, .pricetag2 {
  position: absolute;
  bottom: -2px;
  right: -8px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.pricetag {
  background: #482c69;
  color: #fff;
}

.pricetag2 {
  background: #1b203d;
  color: #5fff50;
}

.scroll-up {
  font-size: 1.3rem;
  margin: 0 auto 50px auto;
}

/* MEDIA */
@media (max-width: 1600px) {
  .main-wrapper {
    margin-bottom: 2rem;
  }

  .breadcrumb {
    margin: 2rem auto 0 5em;
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  main {
    margin-bottom: 150px;
  }

  .breadcrumb {
    margin: 2rem auto 0 1em;
  }

  .newgames {
    margin: 0 5%;
  }

  .game-container img {
    max-width: 90px;
  }

  .labels-group {
    gap: 10px;
  }

  .label {
    padding: 0 10px;
  }

  .label h2 {
    font-size: 1.3em;
  }

  .allgames {
    gap: 10px 20px;
  }

  p {
    font-size: 1rem;
  }
}
