/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

main a {
  color: #bbc5cf;
}

main h3,
main p {
  color: #1b203d;
}

main a:hover {
  color: #fff;
}

.breadcrumb {
  margin: 0 auto 0 15rem;
  font-size: 1.5rem;
}

.newgames {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.labels-group {
  margin-top: 2em;
  display: flex;
  gap: 30px;
}

.label {
  max-height: 50px;
  background: #1b203d;
  padding: 0 30px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

.label:hover {
  color: #df85ff;
}

.active-label {
  color: #1b203d;
  background: #df85ff;
}

.active-label:hover {
  color: #1b203d;
}

.allgames {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  background: #df85ff;
  padding: 10px;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 20px;
  justify-content: center;
}

.game-container {
  position: relative;
}

.game-container img {
  max-width: 160px;
}

.game-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.allgames h3,
.allgames p {
  width: 200px;
  margin-bottom: 15px;
}

.allgames p {
  font-size: 1.1rem;
}

.pricetag {
  position: absolute;
  bottom: -5px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #482c69;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.scroll-up {
  font-size: 1.3rem;
  margin: 0 auto 50px auto;
}

/* MEDIA */
@media (max-width: 1600px) {
  .main-wrapper {
    margin-bottom: 200px;
  }

  main {
    margin-top: 20px;
  }

  p {
    display: none;
    margin: 0;
  }

  .allgames h3 {
    margin-bottom: 5px;
  }

  .game-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 0 20px;
  }

  .breadcrumb {
    margin: 3em auto 0 5em;
    font-size: 1.3rem;
  }

  span {
    display: none;
  }
}

@media (max-width: 850px) {
  .main-wrapper {
    margin-bottom: 2rem;
  }

  .breadcrumb {
    margin: 3em auto 0 1em;
  }

  .newgames {
    margin: 0 5%;
  }

  .game-text-container {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .pricetag {
    width: 2em;
    height: 2em;
  }

  .game-container img {
    max-width: 90px;
  }

  .labels-group {
    gap: 10px;
  }

  .label {
    padding: 0 10px;
  }

  .label h2 {
    font-size: 1.3em;
  }

  .allgames {
    gap: 10px 20px;
  }
}
