/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #1b203d;
}

main h1 {
  color: #fff;
  margin: 0 auto 10px 20%;
}

main a {
  color: #bbc5cf;
}

main a:hover {
  color: #fff;
}

.details-wrapper {
  margin: 0 20% 100px 20%;
  background: #df85ff;
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 275px 1fr 1fr;
  grid-template-rows: 80px 150px 100px 180px;
  justify-content: center;
  gap: 2% 1%;
  grid-template-areas:
    "game gametitle ."
    "game . gameprice"
    "game .  addcart"
    "desc desc desc";
}

.game {
  grid-area: game;
}

#forgelegend {
  height: 350px;
}

.gametitle {
  grid-area: gametitle;
}

.gametitle p {
  margin: 0;
  font-weight: lighter;
  font-size: 1.2rem;
}

.gametitle h2 {
  margin: 0;
  font-size: 1.7rem;
}

.gameprice {
  grid-area: gameprice;
  background: #1b203d8a;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gameprice a {
  color: #fff;
  text-decoration: none;
}

.usednew-container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 15px 0;
}

.usednew {
  background: #1b203d;
  height: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: #0000007c 2px 2px 5px, inset #ffffff7c 2px 2px 5px;
}

.usednew:hover {
  background: #482c69;
}

.usednew:active {
  background: #df85ff;
  box-shadow: inset #0000007c 2px 2px 5px;
  color: #1b203d;
}

#activeprice {
  background: #df85ff;
  box-shadow: inset #0000007c 2px 2px 5px;
  color: #1b203d;
}

#activeprice:hover {
  background: #df85ff;
  box-shadow: inset #0000007c 2px 2px 5px;
}

hr {
  border-top: 1px solid #bbc5cf;
  width: 90%;
}

.price {
  display: inline-flex;
  justify-content: space-between;
}

.price p {
  padding: 0 25px;
  font-size: 1.2rem;
}

.addcart {
  grid-area: addcart;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#add-cart-button {
  background: #1b203d;
  height: 20px;
  width: 80px;
  padding: 10px 40px;
  margin: 50px 0;
  color: #fff;
  border-radius: 20px;
  box-shadow: #0000007c 2px 2px 5px, inset #ffffff7c 2px 2px 5px;
}

#add-cart-button:hover {
  background: #482c69;
  cursor: pointer;
}

#add-cart-button:active {
  background: white;
  color: #1b203d;
  box-shadow: #df85ff 2px 2px 5px, inset #1b203d 2px 2px 5px;
}

#cart1 {
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  right: 22%;
  top: 33em;
  background: #bbc5cf;
  color: #1b203d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: cart1 1 1s forwards;
}

@keyframes cart1 {
  0% {
    right: 22%;
    top: 33em;
  }

  100% {
    top: 3.8em;
    right: 1.1em;
  }
}

.desc {
  grid-area: desc;
}

@media (max-width: 1600px) {
  .main-wrapper {
    margin-bottom: 200px;
    margin-top: 70px;
  }

  #cart1 {
    width: 1.5em;
    height: 1.5em;
  }

  @keyframes cart1 {
    100% {
      top: 3em;
      right: 1.1em;
    }
  }
}

@media (max-width: 1250px) {
  main h1 {
    font-size: 1.5rem;
  }

  .details-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 150px 100px 300px;
    grid-template-areas:
      "game gametitle"
      "game gameprice"
      "game addcart"
      "desc desc";
  }

  #forgelegend {
    height: 250px;
  }

  .gametitle h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  main h1 {
    margin-left: 10%;
  }

  .details-wrapper {
    grid-template-columns: 47% 47%;
    gap: 1% 1%;
    padding: 10px;
    margin: 0 5% 150px 5%;
    grid-template-rows: 80px 120px 80px 1fr;
  }

  #forgelegend {
    height: auto;
    width: 80%;
    min-width: 150px;
    max-width: 230px;
  }

  .gametitle h2,
  .gametitle p {
    font-size: 1rem;
  }

  .usednew-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }

  .usednew-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15px;
    font-size: 0.9rem;
  }

  .usednew {
    padding: 5px 10%;
  }

  #add-cart-button {
    margin: 30px 0;
    padding: 10px 30px;
  }

  .price p {
    font-size: 1rem;
    margin: 0;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  .cart1-hidden,
  #cart1 {
    right: 10%;
    top: 28em;
  }
}
