/* Main */
main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b203d;
  margin-bottom: 10rem;
  width: 100%;
}

main h1 {
  color: #fff;
  font-size: 2rem;
  margin: 5px 0;
  text-align: left;
  width: 400px;
}

main a {
  color: #482c69;
}

main a:hover {
  color: #fff;
  text-shadow: #482c69 2px 2px 4px;
}

.sell-wrapper {
  background: #df85ff;
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
}

.sell-wrapper form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form p {
  margin: 0;
}

.selldiv1 {
  display: flex;
}

.selldiv1 p {
  margin: 0 5px 5px 5px;
}

.selldiv1 img {
  height: 5em;
}

.selldiv {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.success-container {
  border-radius: 3px;
  background: rgb(108, 255, 108);
  font-size: 1.1em;
}

.error-form {
  border-radius: 3px;
  background: rgb(255, 108, 108);
  font-size: 1.1em;
}

main input {
  color: #fff;
  font-size: 1.2rem;
  background: #1b203d99;
  border: none;
  border-radius: 5px;
  height: 40px;
}

.sellchecker {
  margin-right: 10px;
}

#checkbox {
  height: auto;
}

.selldiv2 {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#send-btn {
  color: #fff;
  font-size: 1rem;
  background: #1b203d;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: #0000007c 2px 2px 5px, inset #ffffff7c 2px 2px 5px;
  cursor: pointer;
  font-family: "Bahnschrift", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
}

#send-btn:hover {
  background: #482c69;
}

@media (max-width: 1600px) {
  main {
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  main {
    margin-bottom: 2rem;
  }

  .sell-wrapper {
    width: 80%;
    height: 400px;
  }

  main h1 {
    font-size: 1.7rem;
    width: 80%;
  }
}
